<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:body >
<f:view>

    <p:panel id="myPanelId" header="My Panel" style="margin-bottom:20px">
        <h:outputText value="My text output." />
        <h:outputText value="My text output from bean: #{entry.message}" />
        <p>
            <h:form>
            <h:link outcome="nav.xhtml" value = "My link">
                <f:param name = "message" value = "#{entry.message}" />
                <!--<f:param name = "message" value = "hardcoded message" />-->
            </h:link>
        </h:form>
        </p>
    </p:panel>

</f:view>
</h:body>
</html>
